AssinaturaWS/WebContent/wsdl/Assinatura.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAssinatura">
    <complexType>
     <sequence>
      <element name="xml" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAssinaturaResponse">
    <complexType>
     <sequence>
      <element name="getAssinaturaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAssinaturaResponse">

      <wsdl:part element="impl:getAssinaturaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAssinaturaRequest">

      <wsdl:part element="impl:getAssinatura" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Assinatura">

      <wsdl:operation name="getAssinatura">

         <wsdl:input message="impl:getAssinaturaRequest" name="getAssinaturaRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAssinaturaResponse" name="getAssinaturaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AssinaturaSoapBinding" type="impl:Assinatura">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAssinatura">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAssinaturaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAssinaturaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AssinaturaService">

      <wsdl:port binding="impl:AssinaturaSoapBinding" name="Assinatura">

         <wsdlsoap:address location="http://localhost:8080/AssianturaWS/services/Assinatura"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
